/* You can add global styles to this file, and also import other style files */
body {
  background-color: #FFC6CF;
}

.bgColor-F53D7E {
  background-color: #F53D7E;
}

.color-White {
  color: white;
}

.bold {
  font-weight: bold;
}
